.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin-top: 34px;
}

.header__title {
  max-width: 720px;
  font-family: "Inter Black", sans-serif;
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  margin-top: 92px;
  margin-bottom: 32px;
}

.header__subtitle {
  max-width: 720px;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 64px;
}

.header__image {
  width: 984px;
  height: 615px;
}
