.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin-top: 3.5%;
}

.header__title {
  max-width: 60%;
  font-family: "Inter Black", sans-serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 100px;
  text-align: center;
  margin-top: 92px;
  margin-bottom: 32px;
}

.header__subtitle {
  max-width: 70%;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 64px;
}

.header__image {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-top: 4%;
  }

  .header__title {
    max-width: 80%;
    padding: 0 3%;
    font-size: 4.7rem;
    line-height: 79px;
  }

  .header__subtitle {
    max-width: 100%;
    padding: 0 3%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 188px;
    margin-top: 6.5%;
  }

  .header__title {
    font-size: 2.5rem;
    line-height: 44px;
  }

  .header__subtitle {
    font-size: 1rem;
    line-height: 20px;
  }
}
