.intro {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.intro__title {
  font-family: "Inter Black", sans-serif;
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 58px;
  margin-top: 91px;
}

.intro__quote-text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 34px;
  margin-top: 40px;
}

.intro__quote-name {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: right;
  margin-top: 10px;
}

.intro__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 163%;
  margin-top: 32px;
}

@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
  }

  .intro__title {
    font-size: 2.8rem;
    padding: 0 3%;
    line-height: 49px;
  }

  .intro__quote-text,
  .intro__quote-name {
    font-size: 1.5rem;
    padding: 0 3%;
  }

  .intro__text {
    padding: 0 3%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 100%;
  }
  .intro__title {
    font-size: 2rem;
    line-height: 35px;
    padding: 0 5%;
  }

  .intro__quote-text,
  .intro__quote-name {
    padding: 0 5%;
    line-height: 30px;
  }
  .intro__text {
    padding: 0 5%;
  }
}
