.photo-grid {
  padding: 10% 0;
}

.photo-grid__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

.photo-grid__list-item {
}

.photo-grid__image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 10% 3%;
  }

  .photo-grid__list {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    padding: 10% 5%;
  }
  .photo-grid__list {
    display: flex;
    flex-direction: column;
  }
}
